In [3]:
a = [1, 2, 3, 4]
for i in a:
    print(i)

1
2
3
4

for문의 기본적인 형태 " for 변수 in 범위(range,리스트 변수 등): "

끝은 : 로 처리

반드시 콜론(:) 사용. end가 없음.

In [33]:
a = [1, 2, 3, 4]
for i in range(len(a)):
    print(i+1)

1
2
3
4

len은 개수를 의미

아래 In [7], [8]은 [33] 이해하기 위한 것

In [7]:
a = [1, 2, 3, 4]
len(a)

4

In [8]:
a = [1, 2, 3, 4]
for i in range(len(a)):
    print(i)

0
1
2
3

파이썬은 0부터 시작 // len(a)가 4개이기 때문에 range는 0부터 시작해서 4개를 나타냄

1 2 3 4 가 아님! (0부터 시작)

-------------------------------------

In [34]:
a = ['red', 'green', 'blue', 'purple']
for i in a:
    print(i)

red
green
blue
purple

In [36]:
a = ['red', 'green', 'blue', 'purple']
for i in range(len(a)):
    print(a[i])

red
green
blue
purple

a[0]: red / a[1]: green / a[2]: blue / a[3]: purple

---------------------------------------------------------------------------------------------

In [10]:
a = ["red", "green", "blue", "purple"]
b = [0.2, 0.3, 0.1, 0.4]
for i, a in enumerate(a):
    print("{}: {}%".format(a, b[i]*100))

red: 20.0%
green: 30.0%
blue: 10.0%
purple: 40.0%

enumerate: list의 각 요소를 출력할 때 번호를 붙여서 추출하게끔 해주는 함수

enumerate 함수를 이용: 내용과 도시에 인덱스를 같이 만들어준다. 처음 돌 때는 0이 자동으로 생성이 되어, 두 번쨰는 1등.

In [13]:
a = ["red", "green", "blue", "purple"]
b = [0.2, 0.3, 0.1, 0.4]
for a_, b_ in zip(a, b):
    print("{}: {}%".format(a_, b_*100))

red: 20.0%
green: 30.0%
blue: 10.0%
purple: 40.0%

zip: 두 list의 값을 병렬적으로 추출해주는 함수

[10] 과 [13] output 동일

----------------------------------------------------------------------------------------------------------

In [14]:
a = 0
if a == 0:
    print(a)
else:
     print(a+1)

0

In [15]:
for i in range(1, 3):
    for j in range(3, 5):
        print(i*j)

3
4
6
8

In [10]:
for i in range(1, 3):
    print(i)

1
2

In [11]:
for j in range(3, 5):
    print (j)

3
4

range()의 문법

1) range(start, stop, step)

2) range(start, stop)

3) range(stop)

- start: 처음 시작하는 정수 값. 아무 것도 설정하지 않으면 '0'값이 설정되다.

- stop: 마지막 정수 값. 해당 정수값은 포함되지 않는다.

- step: 몇씩 증가 혹은 감소를 결정하는 옵션. 아무 것도 설정하지 않으면 '1'값이 설정된다.

---------------------------------------------------------------------------------------------------------------------

In [16]:
for i in range(1, 3):
    for j in range(3, 5):
        if j >=4:
            print(i*j)

4
8

i = 1 2 // j = 3 4

1 X 4 = 4 // 2 X 4 = 8

--------------------------------아래 2개 중요---------------------------------------

In [17]:
a = [1, 2, 3, 4]
b = [i for i in a if i >=2]
b

[2, 3, 4]

In [18]:
a = ['red', 'green', 'blue', 'purple']
b = [i for i in a if len(i) >=4]
b

['green', 'blue', 'purple']

글자 수가 4개 이상인 것만 받아서 b로 들어간다.

* 다음시간 
string - numpy - annKR